*{
    margin: 0%;
    padding: 0%;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: rgb(29, 28, 28);
    color: rgb(228, 228, 247);
    
}
.nav > h1{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover{
    color: rgb(235, 226, 226);
    text-shadow: 2px 2px 3px #ebd9d9;
}
.container{
    width: 100%;
    height: auto;
    background-color: rgba(128, 187, 167, 0.774);
}




.container-2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.fullimage{
    width: 80%;
    height: 700px;
    background-image: url("./img/B-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
#img-5{
    background-size: cover;
}

.contents{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

.arrows{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    background-color: black;
    color: azure;
}
.arrow{
    font-size: 40px;
    font-weight: 800;
}
.container-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.first{
    width: 100%;
    height: 230px;
    background-image: url("./img/C-3.webp");
    background-size: cover;
    border-radius: 15px;
}
.second{
    width: 100%;
    height: 230px;
    background-image: url("./img/E-8.jpg");
    background-size: cover;
    border-radius: 15px;
}
.thired{
    width: 100%;
    height: 230px;
    background-image: url("./img/B-1.webp");
    background-size: cover;
    border-radius: 15px;
}
.fourth{
    width: 100%;
    height: 230px;
    background-image: url("./img/L-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
@media screen and (max-width:600px){
    .container-2{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .fullimage{
        width: 80%;
        height: 230px;
        background-image: url("./img/B-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
    }
    .contents{
        font-size: 20px;
    }
    
}
@media screen and (min-width:601px) and (max-width:1000px){
    .container-2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .fullimage{
        width: 80%;
        height: 330px;
        background-image: url("./img/B-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
    }
    .contents{
        font-size: 20px;
    }
    
}
